{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

Please enter the results of the dice rolling. <br>
You have a maximum of 5 minutes. After 5 minutes for every die a 1 will be entered <br>


<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice1" type="text" pattern="[1-6]">
<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice2" type="text" pattern="[1-6]">
<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice3" type="text" pattern="[1-6]">
<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice4" type="text" pattern="[1-6]">
<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice5" type="text" pattern="[1-6]">
<input style="height: 50px; width: 50px; font-size: 40pt;" name="dice6" type="text" pattern="[1-6]">


    {% next_button %}
{% endblock %}


