{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
<h4><b>Please fill out the questionnaire and answer all questions.</b></h4>
    <div class="instructions well well-lg">
        <p>
            {% formfield player.country %}
        </p>
    </div>
        <div class="instructions well well-lg">
        <p>
            {% formfield player.gender %}

        </p>
    </div>
    <div class="instructions well well-lg">
        <p>
            {% formfield player.age %}
        </p>
    </div>
    <div class="instructions well well-lg">
        <p>
            {% formfield player.studies %}
            {% formfield player.nonstudent %}
        </p>
    </div>
    <div class="instructions well well-lg">
        <p>
            {% formfield player.risk %}
        </p>
    </div>
    <br>
    Please press next after answering all questions.
    {% next_button %}
{% endblock %}


